@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* SCROLLBAR MODERNA */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(59, 130, 246, 0.6),
    rgba(147, 197, 253, 0.6)
  );
  border-radius: 999px;
  transition: all 0.2s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(59, 130, 246, 0.9),
    rgba(147, 197, 253, 0.9)
  );
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 130, 246, 0.6) transparent;
}